.NavWrapper {
  display: flex;
  width: 98vw;
  height: 98px;
  margin-top: 0.2rem;
  align-items: center;
  justify-content: center;
}

.NavContainer {
  width: 55%;
  height: 60%;
  background: #08000f;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.NavContainer a {
  color: white;
  text-decoration: none;
}
